<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/header.ejs")%>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=  %></h2> 
			<!-- <p class="product-detail-description">
				<a href="/productoDetalle/add">Agregar</a>
			</p> -->
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= %>" alt="" class="product-detail-img">
					<h1 class="product-detail-description">
						<%=productos.marca%> <%=productos.modelo%> </h1>
						<img src="<%= productos.imagenes %> " alt="">
						
						<section class="comments">
							<article>
								<div class="data">
									<p class="user">
										<%=productos.descripcion%></p>
										<p>FECHA DE CARGA DEL PRODUCTO:  <%= productos.fecha %> </p>
								 </div>

								 <% if (locals.usuario && productos.duenio?.id = productos.usuarioId ){ %>
								 <a href="/productoDetalle/<%=productos.id%>/edit" >
									<i class="fas fa-cog"></i></a> 
									<form action = "/productoDetalle/<%=productos.id%>/borrar"method = "POST">
									<button type="submit" class="btn btn-primary">Eliminar Producto</button>
									</form> 
									%>
									<% } else { %>
										<p></p>
									<% } %>
							</article>
						</section>

				</article>
			
				<div class="col-12 col-lg-4">
					
		<section class="comments">
			<article>
				<div class="data">
					<p class="user">
						COMENTARIOS SOBRE EL PRODUCTO: 
					</p>
				</div>
			</article>
			<% for (let i=0; i < comentarios.comentario.length; i++) { %>
				<div class="card mb-2">
				  <div class="card-body">
					<a href="/users/<%= comentarios.comentario[i].usuario.id%>">
					  <h4>
						<%= comentarios.comentario[i].usuario.usuario %>
					  </h4>
					</a>
					<%= comentarios.comentario[i].content %>
				  </div>
				</div>
				<% } %>
		</section>
				</div>
				<% if(locals.usuario && usuario.id == productos.usuarioId) %> 
					<form class="form" action="/productoDetalle/<%= producto.id %>" method="post">
						<input class="form-input" type="text" value="" name="content" id="content" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				</div>

			<% if (locals.usuario && usuario.id == productos.usuarioId) { %>
				<form action="/<%= productos.id %>/borrar" method="POST">
					<input class="btn btn-danger" type="submit" value="Borrar">
					</form>
					<form action="/productoDetalle/<%= productos.id %>/edit" method="GET">
					  <input class="btn btn-danger" type="submit" value="Edit">
					</form>
				  <% } %>
		</div>
	</div>
	<%-include("./partials/footer.ejs")%>
</body>	
</html>
