<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/headerLogueado.ejs")%>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<%=  %> 
			</h2>
			<ul>
				<li> <b>Nombre del Producto</b> <%= productos.modelo  %> ></a> </li>
				<li> <b>Descripcion</b>  <%= productos.anio  %> </li>
				<li> <b>Fecha de Carga</b>  <%= productos.color  %> </a> </li>
			</ul>
			<img src="<%=  %> " alt="">
    <%-include("./partials/footer.ejs")%>
</body>
