<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/header.ejs")%>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=  %></h2> 
			<!-- <p class="product-detail-description">
				<a href="/productoDetalle/add">Agregar</a>
			</p> -->
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= %>" alt="" class="product-detail-img">
					<h1 class="product-detail-description">
						<%=productos.marca%> <%=productos.modelo%> </h1>
						<img src="<%= productos.imagenes %> " alt="">
						
						<section class="comments">
							<article>
								<div class="data">
									<p class="user">
										<%=productos.descripcion%></p>
										<p>FECHA DE CARGA DEL PRODUCTO:  <%= productos.fecha %> </p>
								 </div>

								 <% if (locals.usuario && usuario.id == productos.usuarioId)%>
								 <a href="/productoDetalle/<%=productos.id%>/edit" >
									<i class="fas fa-cog"></i></a> 
									<form action = "/borrar/<%=productos.id%>" method = "POST">
									<button type="submit" class="btn btn-primary">Eliminar Producto</button>
									</form> %>
									
									
							</article>
									
						</section>

				</article>
			
				<div class="col-12 col-lg-4">
					
		<section class="comments">
			<article>
				<div class="data">
					<p class="user">
						COMENTARIOS SOBRE EL PRODUCTO: 
					</p>
				</div>
			</article>
		</section>
				</div>
				<% if(locals.usuario && usuario.id == productos.usuarioId) %> 
					<form class="form" action="" method="post">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				</div>

			<% if (locals.usuario && usuario.id == productos.usuarioId) { %>
				<form action="/products/<%= productos.id %>/delete" method="POST">
					<input class="btn btn-danger" type="submit" value="Borrar">
					</form>
					<form action="/products/<%= productos.id %>/edit" method="GET">
					  <input class="btn btn-danger" type="submit" value="Edit">
					</form>
				  <% } %>
		</div>
	</div>
	<%-include("./partials/footer.ejs")%>
</body>	
</html>
