<!DOCTYPE html>
<html lang="es">
<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/headerLogueado.ejs")%>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
		<h2 class="col-12"> 
			<img src="<%= productos.imagen  %> " alt="">
			<ul>
				<li> <b>Nombre del Producto</b> <%= productos.modelo  %> ></a> </li>
				<li> <b>Descripcion</b>  <%= productos.descripcion  %> </li>
				<li> <b>Fecha de Carga</b>  <%= productos.fechaDeCarga  %> </a> </li>
			</ul>
			
		</h2>
	<%-include("./partials/footer.ejs")%>
</body>
</html>
