<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/header.ejs")%>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=  %></h2> 
			<!-- <p class="product-detail-description">
				<a href="/productoDetalle/add">Agregar</a>
			</p> -->
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= %>" alt="" class="product-detail-img">
					<h1 class="product-detail-description">
						<%=productos.marca%> <%=productos.modelo%> </h1>
						<img src="<%= productos.imagenes %>" alt="">
						
						<section class="comments">
							<article>
								<div class="data">
									<p class="user">
										<%=productos.descripcion%></p>
										<p>DUEÑO:  <%= productos.duenio?.usuario %> </p>
										<p>FECHA DE CARGA DEL PRODUCTO:  <%= productos.fecha  %>  </p>
										<% if (locals.usuario && usuario.id == productos.usuarioId){ %>
											
											<a href="/productoDetalle/<%=productos.id%>/edit" >EDITAR PRODUCTO<i class="fas fa-cog"></i></a> 
											<br></br>
											<form action = "/productoDetalle/<%=productos.id%>/borrar"method = "POST">
											<input type="submit" class="btn btn-primary" value="ELIMINAR PRODUCTO">
											</form> 
											   %>
											   <% } else { %>
												   <p></p>
											   <% } %>
								 </div>

								
							</article>
						</section>

				</article>
			
				<div class="col-12 col-lg-4">
					
		<section class="comments">
			<article>
				<div class="data">
					<p class="user">
						COMENTARIOS:  
					</p>
					<% for( let i = 0; i < productos.opinion.length; i++) { %>
						<div class="card mb-2">
							<div class="card-body">
								<img src="<%= productos.opinion[i].perfil %> " alt="foto" class="foto-comentario">
							<b><a href="/profile/me/<%= productos.opinion[i].id %>"><%= productos.opinion[i].usuario %>: </a></b>
							<%= productos.opinion[i].comentario %>
							<br></br>
							</div>
						</div>
					<%}%>
				</div>
			</article>
		</section>
				<% if(locals.usuario && productos.duenio?.id == productos.usuarioId) {%> 
					<form class="form" action="/productoDetalle/<%= productos.id %>/comment" method="post">
						<input class="form-input" type="text" value="" name="comentario" id="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form> 
					%>
					<% } else { %>
						<form class="form" action="/register" method="post">
							<input class="form-input" type="text" value="" name="comentario" id="comentario" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form> 
					<% } %>

				</div>

		</div>
	</div>
	<%-include("./partials/footer.ejs")%>
</body>	
</html>
