<!DOCTYPE html>
<html lang="es">
<%-include("./partials/head.ejs")%>

<body>
	<%-include("./partials/header.ejs")%>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				Mis Datos
			</h2>
			<form  method="post" enctype="multipart/form-data"> 
				<div class="mb-3">
				  <label for="email" class="form-label">Email</label>
				  <input   type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value= <%= usuario.email %>>
				</div>
				<div class="mb-3">
				  <label for="usuario" class="form-label">Usuario</label>
				  <input value= <%= usuario.usuario %>  type="text" class="form-control" id="usuario">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword" class="form-label">Contraseña</label>
					<input value= <%= usuario.contrasenia%>  type="password" class="form-control" id="contrasenia">
				</div>
				<div class="mb-3">
					<label for="fecha_de_nacimiento" class="form-label">Fecha de nacimiento</label>
					<input value= <%= usuario.fecha_de_nacimiento%>  type="date" class="form-control" id="fecha_de_nacimiento">

				</div>
				<div class="mb-3">
					<label for="documento" class="form-label">Numero de documento</label>
					<input value= <%= usuario.documento %>  type="number" class="form-control" id="documento">
				</div>
				<div class="mb-3">
					<label for="perfil" class="form-label">Foto de Perfil</label>
					<input   type="file" class="form-control" id="perfil">
				</div>
					<button type="submit" class="btn btn-primary"> Guardar Cambios </button>
				</div>
			</form>
	<%-include("./partials/footer.ejs")%>
</body>
</html>