<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/header.ejs")%>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=  %></h2> 
			<!-- <p class="product-detail-description">
				<a href="/productoDetalle/add">Agregar</a>
			</p> -->
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=%></p>
				</article>
			
				<div class="col-12 col-lg-4">
					<% for(i=0; i < productos.comentarios.length; i++) { %>
					<section class="comments">
						<article> 
							
							<img src="<%= comentarios[i].imagen %> " alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> <%= comentarios[i].persona %>   </a> </strong>
									<%= productos.comentarios[i].comentario %> 
								</p>
							 %>
							</div>
						</article>
					</section>
				<% } %> 
				</div>
				<form class="form" action="" method="post">
					<input class="form-input" type="text" value="" placeholder="Agregar comentario">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
				</form>
			</div>
		</div>
	</div>
	<%-include("./partials/footer.ejs")%>
</body>	
</html>
