<!DOCTYPE html>
<html lang="es">
<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/headerLogueado.ejs")%>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<%=window.addEventListener ('load', function ()   { %> 
    
				//Recupero las qs del storage
				
				<%= let recuperoStorageZapatillas = localStorage.getItem('mb-3'); %> 
				
				
				<!--Transformo las qs en objetos literales
				
				<%= let peliculasFav = JSON.parse(recuperoStorageZapatillas);
				console.log(zapatillas);  %> 
				
				
				//Capturar el DOM de los elementos a mostar
				<%= let listaZapatillas = document.querySelector('.mb-3');
				let listadoZapatillas = '' %> 
				
				
				
				//Creo un if por si los arrays estan vacios				
					fetch (urlMovie)
						.then (function (response) {
							return response.json ();
						})
						.then (function (data) {
							console.log(data);
				
							listadoZapatillas += 
											`<div class="mb-3">
												<label for="exampleInputEmail1" class="form-label">${products.email}</label>
												<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
											  </div>
											  <div class="mb-3">
												<label for="exampleInputUser" class="form-label">${products.text}</label>
												<input type="text" class="form-control" id="exampleInputUser">
											  </div>
											  <div class="mb-3">
												  <label for="exampleInputPassword" class="form-label">${products.password}</label>
												  <input type="password" class="form-control" id="exampleInputPassword">
												</div>
												<div class="mb-3">
												  <label for="exampleInputFecha" class="form-label">${products.date}</label>
												  <input type="date" class="form-control" id="exampleInputFecha">
												</div>
												<div class="mb-3">
												  <label for="exampleInputDocument" class="form-label">${products.number}</label>
												  <input type="number" class="form-control" id="exampleInputDocument">
												</div>`
				
							listaZapatillas.innerHTML = listadoZapatillas
						})
						.catch (function (error) {
							console.log(error);
						})
						<%= }  %> 
					}	
	<%-include("./partials/footer.ejs")%>
</body>
</html>