<%- include('./partials/headerLogueado.ejs') %>
<% if () %> 
<h1><%= zapas.marca %></h1>
<h1><%= zapas.modelo %></h1>
<ul>
  <li><b>descripción:</b> <%= zapas.descripcion %></li>
  <li><b>modelo:</b>$ <%= zapas.modelo  %></li>
</ul>
<img src="<%= zapas.imagenes %>" style="max-width: 200px;">


<%- include('./partials/footer.ejs') %>