<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head.ejs")  %> 

<body>
  <%- include('./partials/header.ejs') %>
  <% if (productos.length==0){%>
    <h2 class="products-title"> No se han encontrado resultados para tu búsqueda</h2>
    <% }else %>
    <h1><%= productos.marca %></h1>
    <ul>
  <li><b>descripción:</b> <%= productos.descripcion %></li>
  <li><b>modelo:</b> <%= productos.modelo  %></li>
</ul>
<img src="<%= productos.imagenes %>" style="max-width: 200px;">


<%- include('./partials/footer.ejs') %> 
  
</body>

</html>

