<<<<<<< HEAD
<%- include('./partials/headerLogueado.ejs') %>

<% if (productos.length==0){%>
  <h2 class="products-title"> No se han encontrado resultados para tu búsqueda</h2>
=======
<%- include('./partials/header.ejs') %>
<% if () %> 
>>>>>>> 0e92e01ecdd334761e66ad20d6fff64bb199b71d
<h1><%= zapas.marca %></h1>
<h1><%= zapas.modelo %></h1>

<ul>
  <li><b>descripción:</b> <%= zapas.descripcion %></li>
  <li><b>modelo:</b>$ <%= zapas.modelo  %></li>
</ul>
<img src="<%= zapas.imagenes %>" style="max-width: 200px;">


<%- include('./partials/footer.ejs') %>