<%- include('./partials/header.ejs') %>
<% if (productos.length==0){%>
  <h2> No se han encontrado resultados para tu búsqueda</h2>
  <% }else { %>

<h1><%= zapas.marca %></h1>
<h1><%= zapas.modelo %></h1>

<ul>
  <li><b>descripción:</b> <%= zapas.descripcion %></li>
  <li><b>modelo:</b>$ <%= zapas.modelo  %></li>
</ul>
<img src="<%= zapas.imagenes %>" style="max-width: 200px;">


<%- include('./partials/footer.ejs') %>